#mainNav{
    background-color: hsl(36, 100%, 99%);
    margin-top: auto;
    margin-bottom: 20px;
}

img{
    width: 100%;
}

.row{
    margin-bottom: 3rem;
}

#web3{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0px;
    line-height: 3rem;
}

p{
    font-size: 15px;
}

.sideItemsLink{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.sideItemsLink:active{
    color: hsl(35, 77%, 62%);
}

.sideItemsTitle{
    color: hsl(35, 77%, 62%);
}

.barlink{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

.barlink:active{
    color: rgb(220, 106, 0);
}

#readMoreButton{
    margin-top: 2.7rem;
    padding: 0.8rem 2.3rem;
    border-width: 0px;
    border-radius: 0%;
    background-color: hsl(5, 85%, 63%);
    color: white;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

#readMoreButton:active{
    background-color: black;
}

.nav-link:active{
    transition-duration: 0s;
    color: hsl(35, 77%, 62%);
}


@media screen and (min-width:376px){
    #mainImage{
        content:url("assets/images/image-web-3-desktop.jpg");
    }
    body{
        margin: 0px 9%;
    }
}

@media screen and (max-width:375px) {
    body{
        margin: 0px 4%;
    }

    #mainImage{
        content:url("assets/images/image-web-3-mobile.jpg")
    }

    #sideItems{
        height: 500px;
    }

    .sideItem{
        margin: 1% 0rem;
    }
}


#sideItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:719px;
}

.sideItem{
    margin: 5% 0rem;
}